.board-row {
    padding: 0;
    margin: 0;
}

.board-cell {
    width: 64px !important;
    height: 64px !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board-row:nth-child(2n+1) .board-cell:nth-child(2n+1) {
    background: #e3e3e3;
}

.board-row:nth-child(2n+1) .board-cell:nth-child(2n) {
    background: #757575;
}

.board-row:nth-child(2n) .board-cell:nth-child(2n+1) {
    background: #757575;
}

.board-row:nth-child(2n) .board-cell:nth-child(2n) {
    background: #e3e3e3;
}

.board-cell.highlight-square {
    background: yellow !important;
}

.draught {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: black 1px solid;
    margin: auto;
    background: #2b2b2b;
}

.draught.white {
    background: #fafafa;
}

.draught.selected {
    border: yellow 4px solid;
}