@page "/games/{guid}"
@using Draughts.Shared.Models
@inject NavigationManager _navigationManager;
@inject HttpClient _http;

<a href="/" class="button is-outlined">
    <span class="icon">
      <i class="fab fa-home"></i>
    </span>
    <span>Go Back</span>
</a>

@if (_game is null)
{
    <section class="section">
        <h1 class="title">Fetching game data...</h1>
        <h2 class="subtitle">@Guid</h2>
    </section>
}
else
{
    <section class="section">
        <h1 class="title">@_game.Name</h1>
        <h2 class="subtitle">@_game.Id</h2>
    </section>

    <section class="section">
        <div class="level">
            <div class="level-item">
                @for (var y = 0; y < 10; y++)
                {
                    <div class="board-row">
                        @for (var x = 0; x < 10; x++)
                        {
                            <div class="board-cell">
                                <div class="draught @((x + y) % 2 == 0 ? "white" : "")"></div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </section>
}

@code {
    [Parameter]
    public string Guid { get; set; }
    
    private Game _game;
    
    private Uri Uri(string uri) => _navigationManager.ToAbsoluteUri(uri);

    protected override async Task OnInitializedAsync()
    {
        _game = await _http.GetFromJsonAsync<Game>(Uri($"/api/games/{Guid}"));
    }
}