@inherits LayoutComponentBase

<div class="container is-max-widescreen">
  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">Simple Online Draughts</p>
          <p class="heading">by Piotr Krzystanek</p>
        </div>
      </div>
    </nav>
  </section>
  <section class="section">
    @Body
  </section>
</div>

<ChatWindow />