.cell {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 1px solid black;
}

.draught {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background: red;
}

.draught.black {
    background: black;
}

.draught.selected {
    border: 4px solid yellow;
}

.row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background: #ffdf7e;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
    background: #fff3cd;
}

.row:nth-child(2n) .cell:nth-child(2n) {
    background: #ffdf7e;
}

.row:nth-child(2n) .cell:nth-child(2n+1) {
    background: #fff3cd;
}