@using Draughts.Core
@using System.Collections.Generic
@using Draughts.Core
@using System.Net.Http
@inject HttpClient Http

@code {
    Draughtboard _board = null;
    Draught _selected = null;

    protected override async Task OnInitializedAsync()
    {
        _board = await Http.GetFromJsonAsync<Draughtboard>("api/board");
    }

    private void MakeMove(int x, int y)
    {
        if (_selected is null)
        {
            return;
        }
        
        
    }
}

@if (_board is not null)
{
    @for (var i = 0; i < 8; i++)
    {
        <div class="row">
            @for (var j = 0; j < 8; j++)
            {
                var x = j;
                var y = i;
                var draught = _board.Draughts.FirstOrDefault(d => d.X == x && d.Y == y);
                <div @onclick="() => { if (draught is null) {MakeMove(x, y);}}" class="cell">
                    @if (draught is not null)
                    {
                        <div @onclick="() => { _selected = draught; }" class="draught @(draught.IsBlack ? "black" : "") @(draught == _selected ? "selected" : "")"></div>
                    }
                </div>
            }
        </div>
    }
}