@page "/"
@inject HttpClient _http
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

@code {
    List<string> _boards = new();
    private HubConnection _hub;

    private async Task FetchBoards()
    {
        _boards.Clear();
        var available = await _http.GetFromJsonAsync<IEnumerable<string>>("api/boards");
        _boards.AddRange(available ?? Array.Empty<string>());
    }

    private async Task DeleteBoard(string name)
    {
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        _hub = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/api/hub"))
            .Build();
        
        _hub.On<string>("BoardCreated", board =>
        {
            Console.WriteLine($"Board created: {board}");
            _boards.Add(board);
            StateHasChanged();
        });

        await _hub.StartAsync();
        await FetchBoards();
    }
    
    public bool IsConnected =>
        _hub.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await _hub.DisposeAsync();
    }
}

<CreateBoardForm></CreateBoardForm>

@if (!IsConnected)
{
    <h5>Loading...</h5>
}
else if (_boards.Any())
{
    @foreach (var board in _boards)
    {
        <ActiveBoard Board=board></ActiveBoard>
    }
}
else
{
    <h5>Empty, create a new board!</h5>
}